@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    column-count: 3;
  }
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.Aboutme {
  margin: 1%;
  padding: 1%;
  text-align: left;
  background-color: red;
  border-style: solid;
  border-width: 2px;
}


.Mywork {
  margin: 1%;
  padding: 1%;
  text-align: left;
  background-color: pink;
  border-style: solid;
  border-width: 2px;
}

.Learning {
  margin: 1%;
  padding: 1%;
  text-align: left;
  background-color: grey;
  border-style: solid;
  border-width: 2px;
}

.resume {
  float: left;
  background-color: grey;
  border: solid;
}

.Getintouch {
  float: right;
  background-color: blue;
  border: solid;
}

.p1 {
  float:right;
}
